<div class="row">
  <div class="col-xs-12 text-xs-center m-b-2-xs">
    <h3>Most mentions</h3>
  </div>

  <% @grouped_tweets.each do |grouped_tweet| %>
    <div class="col-xs-12 m-b-2-xs">
      <%= content_tag :h6, "Tweets from @#{grouped_tweet[0]}", class: 'text-xs-center' %>

      <%= render partial: 'tweet', collection: grouped_tweet[1] %>
    </div>
  <% end %>
</div>
