<div class="row">
  <div class="col-xs-12 text-xs-center m-b-2-xs">
    <h3>Most relevant tweets</h3>
  </div>

  <div class="col-xs-12">
    <%= render partial: 'tweet', collection: @sorted_tweets %>
  </div>
</div>
