<div class="row">
  <div class="col-xs-12">
    <h3 class="text-xs-center">Locaweb teste técnico</h3>
    <h5 class="text-xs-center">Desenvolvido por Felipe Roveran Ribeiro</h5>

    <div>
      <%= link_to 'Most Relevants', most_relevants_path %>
    </div>

    <div>
      <%= link_to 'Most Mentions', most_mentions_path %>
    </div>

    <div>
      <%= link_to 'Most Relevants HTML version', most_relevants_path(format: :html) %>
    </div>

    <div>
      <%= link_to 'Most Mentions HTML version', most_mentions_path(format: :html) %>
    </div>
  </div>
</div>
