<div class="row m-b-1-xs p-t-1-xs tweet">
  <div class="col-xs-4 text-xs-center">
    <%= link_to tweet.screen_name.to_s, tweet.profile_url %>
  </div>
  <div class="col-xs-4 text-xs-center">
    <%= content_tag :p, "#{tweet.followers_count} followers, #{tweet.retweet_count} retweets, #{tweet.likes} likes" %>
  </div>
  <div class="col-xs-4 text-xs-center">
    <%= link_to tweet.created_at.strftime("%d-%m-%Y %H:%M:%S"), tweet.url %>
  </div>
  <div class="col-xs-12 text-xs-center">
    <%= content_tag :p, tweet.text %>
  </div>
</div>
